.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SocialMedia ul {
    display: flex;

    list-style-type: none;
    margin: 0;
    padding: 0;

    color: var(--gray);
}

.SocialMedia li {
    margin-right: 1em;
}

.SocialMedia li:last-child {
    margin-right: 0;
}