.container {
    display: flex;
}

.About, .Skills, .Contact {
    display: flex;
    justify-content: center;
}

.About h2, .Skills h2, .Portfolio h2, .Contact h2 {
    font-size: 4rem;
    line-height: 4rem;
    color: var(--green);
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    letter-spacing: 5px;
}

.Projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Work {
    max-width: calc(25% - 10px);
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: calc(25% - 10px);
    flex-grow: 1;

    margin: 5px;

    background-color: var(--shadow);

    padding: 20px;
}

.Work a {
    width: 120px;

    padding: 8px 16px;
    border-radius: 8px;

    text-align: center;
    font-size: 14px;
    font-family: "Space Mono";
    color: var(--shadow);

    background-color: var(--gray);
}

.Work a:hover {
    background-color: var(--blue);
    color: var(--white);
}

.Work a:active {
    background-color: var(--gray);
    color: var(--shadow);
}

.Work h3 {
    font-size: 22px;
    margin: 0;
}

.Work span, .Work p {
    font-size: 14px;
    font-family: "Space Mono";
    line-height: 18px;
    color: var(--gray);
}

.Work img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.WorkButtons {
    display: flex;
    justify-content: space-between;
}

.Skills {
    flex-direction: row-reverse;
}

.ColumnData, .ColumnResume, .ColumnImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.ColumnData {
    margin-left: 20px;
    margin-right: 20px;
}

.ColumnImage {
    align-items: center;
}

.ColumnImage img {
    max-width: 70%;
    border-radius: 50%;
}

.ColumnResume span {
    color: var(--blue);
}

.Infos {
    width: calc((100vw - 135px));
    height: 100vh;
    padding: 50px 50px;

    overflow-y: auto;
    overflow-x: hidden;

    font-family: "Roboto";
    font-size: 1.2rem;

    color: var(--white);
}

.Intro, .About, .Skills, .Portfolio, .Contact {
    width: calc((100vw - 235px));
    height: calc(100vh - 100px);

    margin-bottom: 50px;
}

.Intro {
    display: flex;
    align-items: center;
}

.Intro h1 {
    font-size: 8rem;
    line-height: 7.5rem;
    color: var(--white);
    margin: 0;
    padding: 0;

    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    letter-spacing: 5px;
}

.Intro h1 span {
    color: var(--green);
}

.Intro h1 strong {
    color: var(--blue);
}

.Portfolio {
    height: auto;

    margin-bottom: 100px;
}

.Links {
    padding: 5vw 0;
}

.Links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Links li {
    cursor: pointer;

    border-top: 1px solid var(--border);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em 0;

    color: var(--gray);
}

.Links li:hover { 
    color: var(--blue);
}

.Links li:last-child {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em 0;
}

.Logo {
    width: 135px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black);
}

.Menu {
    width: 135px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--shadow);
}

.ProgressBar {
    width: 100%;
    height: 5px;

    border-radius: 5px;
    margin-bottom: 30px;

    background-color: var(--gray);
}

.Progress {
    height: 5px;
    border-radius: 5px;
}

.Shortcuts {
    display: flex;
    justify-content: space-around;

    padding: 0 20px 20vh 20px;
    
    color: var(--gray);
}

.Contact input, .Contact textarea {
    border: none;
    border-bottom: 3px solid var(--lightgray);
    padding: 18px;
    margin-bottom: 16px;

    font-size: 16px;
    color: var(--white);

    background-color: var(--lightgray);
}

.Contact input:focus, .Contact textarea:focus {
    outline: none;
    border-bottom: 3px solid var(--blue);
}

.Contact button {
    width: 180px;

    padding: 8px 16px;
    border: none;
    border-radius: 8px;

    text-align: center;
    font-size: 14px;
    font-family: "Space Mono";
    color: var(--shadow);

    background-color: var(--gray);
}

.Contact button:hover {
    background-color: var(--blue);
}

.Contact button:active {
    background-color: var(--gray);
}

@media(max-width: 992px){
    .About h2, .Skills h2, .Portfolio h2, .Contact h2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin-bottom: 0;
    }

    .Portfolio h2 {
        margin-bottom: 16px;
    }

    .ColumnImage img {
        margin-bottom: 32px;
    }

    .Contact {
        padding-bottom: 48px;
    }

    .Infos {
        width: 100%;
    }

    .Intro, .About, .Skills, .Portfolio, .Contact {
        width: 100%;
        height: auto;

        padding: 20px 0;

        flex-direction: column;
    }

    .Intro {
        height: calc(100vh - 100px);

        justify-content: center;
    }

    .About {
        flex-direction: column-reverse;
    }

    .Intro h1 {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 5px;
    }
    
    .Intro h1 span {
        color: var(--green);
    }
    
    .Intro h1 strong {
        color: var(--blue);
    }

    .map-container {
        display: none;
    }
    
    .Menu {
        display: none;
    }

    .Portfolio {
        margin-bottom: 32px;
    }

    .Projects {
        flex-direction: column;
    }

    .Work {
        max-width: 100%;
    }
}